.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 806px;
}

/* svg {
  transition: 0.2s;
} */

.path {
  transition: fill 0.2s;
}

.container > div {
  margin: 30px 0px;
}

.navbar {
  color: #000000;
  position: relative;
  width: 100%;
  height: auto;
  font-family: MontDemoHeavy;
  text-align: center;
  font-size: 35px;
  letter-spacing: 0px;
  word-spacing: 10px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.navbar2 {
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 12px;
}

.logo {
  width: 30px;
  margin: 0px 9px;
  cursor: pointer;
}

.section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin: 8px 8px;
  z-index: 10;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 47px -16px rgb(0 0 0 / 61%);
}

.parentSec {
  width: 48%;
  float: left;
  margin-left: 2%;
}

.projects {
  width: 60%;
}

.sectionProject {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* border-radius: 12px; */
  margin: 30px 0px 0px 0px;
  z-index: 10;
  cursor: pointer;
  overflow: hidden;
  transform: translateZ(20px);
  /* box-shadow: 0px 0px 47px -16px rgb(0 0 0 / 61%); */
}

.sectionProjectimage {
  width: 100%;
  height: 263px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  box-shadow: 0px 0px 47px -16px rgb(0 0 0 / 61%);
}

.sectionProjectInfo {
    padding: 0 20px;
    position: absolute;
    bottom: 27px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sectionProjectInfo > .projinfo {
  color: rgb(185 185 185);
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.sectionProjectInfo > .title {
  color: #ffffff;
  font-family: MontDemoHeavy;
  font-size: 40px;
  line-height: 40px;
}

.sectionExperiment {
  position: relative;
  width: 100%;
  height: 454px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  margin: 30px 0px;
  z-index: 14;
  box-shadow: 0px 0px 47px -16px rgb(0 0 0 / 61%);
}

.sectionExperimentProj {
  flex: 1;
}

.projimagecontainer {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  flex: 1;
  cursor: pointer;
  overflow: hidden;
}
.projimage {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  transform-origin: center;
  transform: scale(1);
  z-index: -1;
}

.projimageOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 1) 110%);
  opacity: 1;
  transition: 0.3s;
}

.projimagecontainer:hover > .projimageOverlay {
  opacity: 0.2;
}

.projimageinfo {
  position: absolute;
  margin: 0px 0px 9px 14px;
}

.projimageinfo > .title {
  color: #ffffff;
  font-family: MontDemoHeavy;
  font-size: 21px;
}

.image {
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  transition: 0.3s;
  transform-origin: center;
  transform: scale(1);
  z-index: -1;
}

.section:hover > .image {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: scale(1.4);
}

.title {
  color: #000000;
  font-family: MontDemoHeavy;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experiments {
  /* display: flex;
  flex-direction: column; */
}

.viewButton {
  font-family: "MontDemoHeavy";
  font-size: 16px;
  color: #000000;
  background: none;
  line-height: 36px;
  padding: 0px 20px;
  border: 2px solid #000;
  border-radius: 7px;
  /* width: 50%;
  margin-left: 25%; */
  cursor: pointer;
  transition: 0.2s;
}
.viewButton:hover,
.contactButton:hover svg path,
.contactButton:hover {
  background-color: #000;
  color: #ffffff;
  fill: #ffffff;
}
/* 
.viewButton:hover svg path,
.viewButton:hover {
  fill: red;
  color: red;
} */

.info > .title {
  color: #ffffff;
  font-family: MontDemoHeavy;
  font-size: 21px;
}

.date {
  color: rgb(185 185 185);
  font-size: 14px;
  font-weight: 100;
}

.homeInfo {
  text-align: center;
  font-size: 24px;
  padding: 111px;
  word-spacing: 4px;
  font-family: sans-serif;
  font-weight: 500;
}

.yugam {
  font-size: 34px;
  font-family: "MontDemoHeavy";
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: black; */
  text-decoration: underline;
  color: #000;
}

.info {
  position: absolute;
  bottom: 11px;
  left: 16px;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: MontDemoHeavy;
  color: #000;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.subheadingContainer {
  margin: 34px 8px;
  text-align: center;
  width: 100%;
}

.subheadingContainerLeft {
  margin: 34px 0px;
  text-align: left;
  width: 100%;
}

.subheading {
  font-family: MontDemoHeavy;
  width: 100%;
  font-size: 30px;
  /* margin: 34px 8px; */
  text-align: center;
}

.contact {
  display: flex;
}

.contactButton {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  font-family: "MontDemoHeavy";
  font-size: 16px;
  border-radius: 7px;
  padding: 3px 38px;
  background: none;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 17px;
  height: 45px;
}

.labelContainer {
  display: flex;
  padding: 7px 0px 0px 0px;
}

.label {
  color: #a5a5a5;
  border: 1px solid #585858;
  padding: 2px 8px;
  border-radius: 12px;
  margin-right: 8px;
}

@media (max-width: 814px) {
  .container {
    width: 100vw;
    padding: 0px 10px;
  }
  .projects {
    width: 100%;
  }

  .homeInfo {
    padding: 61px;
  }

  .sectionExperiment {
    height: 50vw;
  }
  .sectionProjectimage {
    width: 100%;
    height: 52vw;
  }

  .section {
    width: 100%;
    margin: 8px 0px;
  }
  .image {
    width: 100%;
    height: 51vw;
  }
  .info > .title {
    font-size: 5vw;
  }

  .sectionProjectInfo > .title {
    font-size: 6vw;
  }

  .sectionProjectInfo > .projinfo {
    font-size: 2.7vw;
  }

  .contact {
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    align-items: center;
  }

  .contactButton {
    padding: 3px 2vh;
  }
}
@media (max-width: 503px) {
  .homeInfo {
    padding: 41px 7px;
  }
}
